apiVersion: apps/v1
kind: Deployment
metadata:
  name: servico-pedidos
spec:
  replicas: 2
  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxSurge: 1
      maxUnavailable: 0
  selector:
    matchLabels:
      app: pedidos
  template:
    metadata:
      labels:
        app: pedidos
    spec:
      containers:
        - name: pedidos
          image: loja-veloz-devops_servico-pedidos:latest
          imagePullPolicy: Never
          ports:
            - containerPort: 8000
          
          # NOVO: Injetando o Secret como variável de ambiente
          env:
            - name: DB_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: loja-veloz-db-secret
                  key: DB_PASSWORD
            - name: DB_USER
              valueFrom:
                secretKeyRef:
                  name: loja-veloz-db-secret
                  key: DB_USER
          
          envFrom:
            - configMapRef:
                name: loja-veloz-config
          
          # NOVO: Contexto de Segurança rigoroso
          securityContext:
            runAsNonRoot: true
            runAsUser: 1000
            allowPrivilegeEscalation: false
            readOnlyRootFilesystem: false
          
          livenessProbe:
            httpGet:
              path: /health
              port: 8000
            initialDelaySeconds: 3
            periodSeconds: 5
          readinessProbe:
            httpGet:
              path: /health
              port: 8000
            initialDelaySeconds: 3
            periodSeconds: 5
          resources:
            requests:
              cpu: "100m"
              memory: "128Mi"
            limits:
              cpu: "250m"
              memory: "256Mi"
---
apiVersion: v1
kind: Service
metadata:
  name: servico-pedidos
spec:
  selector:
    app: pedidos
  ports:
    - protocol: TCP
      port: 8000
      targetPort: 8000
